<!-- <p>experiencia works!</p> -->

<div class= "row">
    <h1>Experiencia Laboral</h1>
    <div class = "col-lg-2"></div>
    <div class = "col-lg-10">
        <button type="button" class="btn btn-outline-dark btn-lg px-5" routerLink="/nuevaexp" *ngIf="isLogged">
            Agregue Experiencia
        </button>
    </div>

    <div class="col lg 2"></div>
    <div class="col-lg-10">
        <table class="table">
            <tbody>
                <tr *ngFor="let Experiencia of expe">
                    <td>
                        <h4>{{Experiencia.nombreE}}</h4>
                    </td>
                    <td>{{Experiencia.descripcionE}}</td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-outline-dark" routerLink="/editexp/{{Experiencia.id}}">
                             Editar</button>
                    </td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-danger" (click)="delete(Experiencia.id)">
                             Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>



    </div>

</div>